.cart-item {
  display: flex;
  width: 100%;
}

.cart-product-amount-selection {
  padding: 5px;
}

.cart-product-image-container {
  padding: 5px;
}

.cart-product-desc {
  padding: 5px;
}

.cart-menu-total-amount-container {
  display: flex;
  width: 100%;
}

.cart-menu-total-amount {
  font-weight: bold;
  margin-left: auto;
}

.cart-menu-total-title {
  font-weight: 900;
  font-size: 16;
  font-weight: bold;
}

.cart-menu-button-container {
  justify-content: center;
  padding: 5px;
}

.cart-menu-button-container > button {
  padding: 13px;
  width: 100%;
}

.cart-menu-button-container > .button-outline {
  margin-right: 15px;
  padding: 12px;
}

.scrollable-menu {
  overflow-y: scroll;
  max-height: 500px;
  scrollbar-color: var(--color-dark-gray);
  scrollbar-width: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-gray);
  border-radius: 15px;
  border: 2px solid var(--color-dark-gray);
}
