.product-page-container {
  display: flex;
  padding-top: 3rem;
  padding: 5rem;
  padding-right: 15rem;
  margin: 0 auto;
}
.product-price-title {
  padding-top: 1rem;
}

.product-price {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.product-description-container {
  padding-left: 7rem;
}

.product-description {
  padding-top: 2rem;
  font-family: 'Roboto';
}

@media screen and (max-width: 950px) {
  .product-page-container {
    flex-direction: column;
    padding-right: 5rem;
  }
  .product-description-container {
    padding: 0;
  }
}
