.card {
  box-shadow: 0 2px 2px 3px rgba(0, 0, 40, 0.06), 0 6px 6px 10px rgba(0, 0, 40, 0.005);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-img-container {
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}
.card-img {
  width: 100%;
  height: auto;
  position: absolute;
}
