.card-link {
  text-decoration: none;
  color: black;
}

.card {
  padding: 1rem;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
}
.card-img-container {
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}
.card-img {
  width: 100%;
  height: auto;
  position: absolute;
}

.product-card-name {
  padding-top: 15px;
}

.product-card-price {
  padding-top: 15px;
  font-weight: bold;
}
.card-main {
  width: 100%;
  position: relative;
}
.card-main > .card-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-add-to-cart-button {
  background: none;
  border: none;
  border-radius: 50%;
  padding: 9px 11px;
  background-color: var(--color-green);
  transition: background 100ms;
  display: none;
}

.product-card-cart-icon {
  fill: white;
}
.card-add-to-cart-button:active {
  background-color: var(--color-light-green);
}

.card-add-to-cart-button > svg > path {
  fill: white;
}
.card-main > .card-add-to-cart-button {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.card:hover .card-add-to-cart-button {
  display: block;
}

.card-out-of-stock-title {
  color: var(--color-light-gray);
}
